
/* Custom hover for navbar */
.custom-nav-link {
    transition: all 0.3s ease;
    font-size: 1.1rem; 
    border-radius: 5px;
    color: white;
    background-color:#037889 ;
}

.custom-nav-link.btn-outline-info:hover {
    color: #037889;
    background-color: white; /* Blue background on hover for button */
    border-color: #037889;
}

@keyframes fadeInSection {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start from slightly below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at normal position */
    }
}

.animate__animated {
    animation-name: fadeInSection;
    animation-duration: 1s;
    animation-fill-mode: both; 
}


.animate__animated:nth-child(1) {
    animation-delay: 0.3s; 
}

.animate__animated:nth-child(2) {
    animation-delay: 0.6s; 
}













